.Layer {
    background: lighten(#313E63, 2);
    color: var(--white);

    padding: 3px;
    margin: 5px 0px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
        background: lighten(#313E63, 4);
    }

    input {
        background: transparent;
        border: 0;
        padding: 3px;
        width: auto;
        color: var(--white);
        cursor: pointer;


        &:focus {
            border-bottom: 2px solid var(--light-blue);
            outline: none;
        }
    }

    &_Controls {
        width: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &_color {
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;
    }


    &_Delete {
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 2px;
        cursor: pointer;
        color: var(--white);
        text-align: center;

        i {
            font-size: 12px;
        }

        &:hover {
            color: var(--gray);
        }
    }
}