@import "../../global/sass/imports/transition";

.Layers {
    position: relative;
    width: 100%;
    grid-area: left;


    h2 {
        text-transform: uppercase;
        text-align: center;
    }



    &_Container {
        height: 87vh;
        overflow-y: scroll;


    }

    &_Container::-webkit-scrollbar {
        width: 0px;

        &-thumb {
            -webkit-border-radius: 10px;
            border-radius: 10px;
            background: var(--sidebar-forground);
        }

        &-track-piece:end {
            margin-bottom: 100px;
        }
    }


    &_Add {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: var(--sidebar-forground);
        color: var(--white);
        position: fixed;
        bottom: 0;
        width: 15%;

        p {
            margin-left: 10px;
        }

        span {
            width: 20px;
            margin-right: 10px;
            height: 20px;
            justify-content: center;
            align-items: center;
            display: flex;
            cursor: pointer;
            @include transition(background);

            &:hover {
                color: var(--sidebar-Focus);
            }
        }
    }


    .Layer {
        background: var(--sidebar-forground);
        color: var(--white);

        padding: 10px;
        margin: 5px 0px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        @include transition(background);


        &:hover {
            background: var(--sidebar-Activeforground);
        }

        input {
            background: transparent;
            border: 0;
            padding: 3px;
            width: auto;
            color: var(--white);
            cursor: pointer;


            &:focus {
                border-bottom: 2px solid var(--sidebar-Focus);
                outline: none;
            }
        }

        &_Controls {
            width: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &_color {
            width: 20px;
            height: 20px;
            justify-content: center;
            align-items: center;
            display: flex;
            cursor: pointer;
        }


        // &_Number {
        //     margin: 0px 10px 0px -30px;
        //     padding: 5px;
        // }

        &_Delete {
            width: 20px;
            height: 20px;
            justify-content: center;
            align-items: center;
            display: flex;
            padding: 2px;
            cursor: pointer;
            color: var(--white);
            text-align: center;

            i {
                font-size: 12px;
            }

            &:hover {
                color: var(--sidebar-Focus);
            }
        }

    }
}