.Layers {
    h2 {
        text-transform: uppercase;
        text-align: center;
    }

    width: 300px;
    height: 600px;
    border: 2px solid black;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0%, -50%);


    &_Add {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        width: 100%;
        bottom: 0;

        background: black;
        color: white;

        p {
            margin-left: 10px;
        }

        span {
            width: 20px;
            margin-right: 10px;
            height: 20px;
            border: 1px solid white;
            justify-content: center;
            align-items: center;
            display: flex;
            cursor: pointer;

            &:hover {
                background: white;
                border: 1px solid green;
                color: green;


            }
        }
    }

    .Layer {
        background: lightgray;
        padding: 10px;
        margin: 5px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &:hover {
            background: lighten($color: #000000, $amount: 75);
        }

        &_Controls {
            width: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &_color {
            width: 20px;
            height: 20px;
            justify-content: center;
            align-items: center;
            display: flex;
            cursor: pointer;
        }

        &_Arrow {
            display: block;
            justify-content: center;
            align-items: center;
            height: 100%;
            display: block;

            i {
                height: 10px;
                font-size: 10px;
                display: block;
                margin-bottom: 2px;
                padding: 2px 5px;
                border: 1px solid black;
                background: white;
                cursor: pointer;

                &:hover {
                    border: 1px solid white;
                    background: black;
                    color: white;
                }

            }

        }

        &_Number {
            background: white;
            margin: 0px 10px 0px -30px;
            padding: 5px;
            border: 1px solid black;
        }

        &_Delete {
            width: 20px;
            height: 20px;
            justify-content: center;
            align-items: center;
            display: flex;
            padding: 2px;
            cursor: pointer;
            border: 1px solid black;
            color: black;
            background: white;
            text-align: center;

            &:hover {
                border: 1px solid white;
                background: black;
                color: white;
            }
        }

    }
}