.Drawingboard {
    position: relative;
    width: 100%;
    background: var(--white);
    grid-area: main;
    overflow: hidden;
    z-index: 0;
}

.firstBox {
    position: absolute;

    span {
        width: 10px;
        height: 10px;
        border: 1px solid black;
        display: none;
        background: white;
        position: absolute;

        &:nth-child(1) {
            left: -4px;
            top: -4px;
        }

        &:nth-child(2) {
            left: 43px;
            top: -3px;
        }

        &:nth-child(3) {
            left: 43px;
            top: 43px;
        }

        &:nth-child(4) {
            left: -3px;
            top: 43px;
        }
    }

    &:hover {
        span {
            display: block;
        }
    }
}