@import "../../global/sass/imports/shadow";
@import "../../global/sass/imports/gradient";

.VieweArtboard {
    h1 {
        text-align: center;
        color: var(--white);
        padding-top: 100px;
    }


    .VieweArtboard_header {
        position: absolute;
        width: 100%;
        height: 40px;
        background: var(--Header-background);
        color: var(--white)
    }

    background: var(--background);
    width: 100%;
    height: 100vh;

    .Boards {
        width: 1000px;
        position: absolute;
        background: var(--sidebar-forground);
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        padding: 10px;
        border-radius: 10px;
        @include shadow3;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .Board {
            @include shadow2;
            background: var(--white);
            border-radius: 10px;
            height: 150px;
            padding: 10px;
            margin: 10px;
            position: relative;
            padding-bottom: 60px;

            .ArtboardDelete {
                position: absolute;
                right: 10px;
                top: 10px;
                background: var(--button-background);
                padding: 5px 10px;
                border-radius: 10px;
                color: var(--button-foreground);
                @include shadow2;
            }

            &_button {
                @include shadow2;
                position: absolute;
                bottom: 10px;
                border-radius: 10px;
                width: 90%;
                padding: 10px 0px;
                color: var(--button-foreground);
                text-align: center;
                background: var(--button-background);
                cursor: pointer;

                &:hover {
                    background: var(--button-hoverBackground);
                }
            }

        }

        .AddBoardButton {
            height: 210px;
            padding: 10px;
            margin: 10px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
                padding: 0;
                font-size: 100px;
                margin: 0;
                color: var(--button-background);
                cursor: pointer;

                &:hover {
                    color: var(--button-hoverBackground);
                }

            }

        }

    }

    .NewArtboard {
        width: 300px;
        padding: 20px;
        border-radius: 10px;
        height: 100px;
        background: var(--white);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        @include shadow4;

        .submitButton {
            background: var(--button-background);
            padding: 5px 10px;
            font-size: 16px;
            margin: 10px;
            color: var(--button-foreground);
            cursor: pointer;
            border: 0px;
            border-radius: 5px;
            @include shadow2;
            text-transform: uppercase;



            &:hover {
                background: var(--button-hoverBackground);
            }

        }

        .button {
            @include shadow2;
            position: absolute;
            top: 0;
            right: 10px;
            background: var(--button-background);
            display: inline-block;
            padding: 5px 10px;
            color: var(--button-foreground);
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background: var(--button-hoverBackground);
            }

        }
    }

}